<div id="{{TemplateContainerID}}">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Roll SPA software</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/#/report"><i class="glyphicon glyphicon-stats"></i>Roll SPA software</a>
    </div>
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav  navbar-right">
            <!-- li><a href="#help">Справка</a></li -->
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                <i class="glyphicon glyphicon-user"></i> {{data.name}} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/#/section/41">Настройки</a></li>
                    <li><a href="/#/section/42">Сменить пароль</a></li>
                    <li><a href class="logout">Выход</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/#/static/help.tmpl">Справка</a></li>
                    <li><a href="/#/section/44">Сообщить о проблеме</a></li>
                </ul>
            </li>
        </ul>

    </div>
<script>
(function ($) {
    $('.logout').on('click',function(e){
       if (confirm("Вы действительно хотите выйти из приложения?")) {
           document.application.event('application.logout',[]);
       }
    });
})(jQuery);
</script>
</div>

